/* red skin */

.jnav_menu_blade.red .jnav_wrapper {
    background: #c0392b;
}
.jnav_menu_blade.red .jnav_wrapper li {
    border-bottom-color: #e74c3c;
}
.jnav_menu_blade.red .jnav_wrapper li a:hover {
    background-color: #e74c3c;
}
.jnav_menu_blade.red .jnav-toggle {
    border-color: #e74c3c;
}
.jnav_menu_blade.red .jnav-multilevel-nav ul li:first-child {
    border-color: #e74c3c;
}

/* yellow skin */

.jnav_menu_blade.yellow .jnav_wrapper {
    background: #f39c12;
}
.jnav_menu_blade.yellow .jnav_wrapper li {
    border-bottom-color: #f1c40f;
}
.jnav_menu_blade.yellow .jnav_wrapper li a:hover {
    background-color: #f1c40f;
}
.jnav_menu_blade.yellow .jnav-toggle {
    border-color: #f1c40f;
}
.jnav_menu_blade.yellow .jnav-multilevel-nav ul li:first-child {
    border-color: #f1c40f;
}

/* green skin */

.jnav_menu_blade.green .jnav_wrapper {
    background: #27ae60;
}
.jnav_menu_blade.green .jnav_wrapper li {
    border-bottom-color: #2ecc71;
}
.jnav_menu_blade.green .jnav_wrapper li a:hover {
    background-color: #2ecc71;
}
.jnav_menu_blade.green .jnav-toggle {
    border-color: #2ecc71;
}
.jnav_menu_blade.green .jnav-multilevel-nav ul li:first-child {
    border-color: #2ecc71;
}